/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Apply background image */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Use Poppins */
  font-weight: 300 !important; 
  background: url('./assets/shadow.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Glassmorphic form container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Glassmorphism styling for the card */
.glass-card {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  color: white;
  text-align: left;
}

/* Heading styling */
.glass-card h2 {
  font-weight: 300; /* Less bold heading */
  margin-bottom: 10px;
}

.glass-card p.subheading {
  font-size: 14px;
  margin-bottom: 20px;
  color: #f1f1f1;
}

/* Form input styling */
.form-group {
  margin: 15px 0;
}

/* Form input styling */
.form-group input {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 4px; /* Less rounded corners */
  background: rgba(255, 255, 255, 0);
  color: white; /* Input text color */
  font-size: 12px;
  outline: none;
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); Bright white shadow */
}
/* Change the placeholder color to white */
.form-group input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}


.form-group input:focus {
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 0 3px rgba(255, 255, 255, 1); /* White shadow when focused */
}

/* Button styling */
.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 2px; /* Less rounded corners */
  background-color: #6D15F9;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  font-size: 12px;
  width: 100%;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgba(91, 44, 111, 0.8);
}

/* Forgot password link */
.forgot-password {
  display: block;
  margin: 15px 0;
  color: #f1f1f1;
  text-decoration: none;
  font-size: 12px;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Switch form (Login/Register) link */
.switch-form {
  margin-top: 20px;
  font-size: 12px;
}

.switch-form span {
  color: #f1f1f1;
  cursor: pointer;
  text-decoration: underline;
}

.switch-form span:hover {
  color: #ffffff;
}
